.headerBackground{
  background-color: var(--header-bg-color);
}

header .branding .nav-link .hrisApp{
  font-family: "Sofia", sans-serif;
  font-size: xx-large;
  color:black;
}

.header-actions .addEmployee,.header-actions .TA{
  color: black;
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
}
.branding:hover, .TA:hover, .addEmployee:hover{
  background-image: var(--main-bg-color);
}