<header class="header-6 headerBackground">
  <div class="branding">
    <a routerLink="employee-list" class="nav-link">
      <span class="title hrisApp">HRIS</span>
    </a>
  </div>
  <form class="search">
    <label for="search_input">
      <input id="search_input" type="text" placeholder="Search for Employee..." />
    </label>
  </form>
  <div class="header-actions">
    <div *ngIf="currentState==='employeeList'">
      <a routerLink="TA" class="nav-link nav-text TA">TA</a>
      <a routerLink="add-employee" class="nav-link nav-text addEmployee">Add Employee</a>
    </div>
    <div *ngIf="currentState==='TA'">
      <a routerLink="TA/admin" class="nav-link nav-text TA">Admin</a>
      <a routerLink="TA/recruiter" class="nav-link nav-text TA">Recruiter</a>
      <a routerLink="TA/TAManager" class="nav-link nav-text addEmployee">TA Manager</a>
      <!-- <a routerLink="TA/regionalHead" class="nav-link nav-text addEmployee">Regional Head</a> -->
    </div>
  </div>
</header>